<%= four_col_container :collection => @sections do |section| %>
	<h2 align="center">
		<%= t "blog.#{ section }.name" %>
	</h2>
	
	<p>
		<%= t "blog.#{ section }.summary" %>
	</p>
	
	<p align="center">
		<%= link_to t(:go_to), "blog/#{ section }".classify.constantize.to_url, :class=>:btn %>
	</p>
<% end %>
