<%= four_col_container :collection => @sections do |section| %>
	<h2 class="text-center">
		<%= t "blog.#{ section }.name" %>
	</h2>
	
	<p>
		<%= t "blog.#{ section }.summary" %>
	</p>
	
	<p class="text-center">
		<%= link_to t(:go_to), "blog/#{ section }".classify.constantize, :class=>:btn %>
	</p>
<% end %>
