<%= row_tag do %>
  <%= col_10_tag do %>
    <p>
      The new super-awesome doc for the non less awesome gem !
    </p>
  <% end %>

  <%= col_1_tag offset: 1 do %>
    <p>
      <%= link_to stol_rubies_url do %>
        <i class="icon-home"></i>
      <% end %>
    </p>
  <% end %>
<% end %>
