<%= container_3_tag @applications do |application| %>
	<h2 class="text-center">
		<%=t "#{ application }.name" %>
	</h2>
	
	<p>
		<%=t "#{ application }.summary" %>
	</p>
	
	<p class="text-center">
		<% if authorized? application %>
			<%= link_to t(:see), root_url(:subdomain => application), :class => :btn %>
		<% end %>
	</p>
<% end %>
