<%= four_cols_container :collection => @experiments do |experiment| %>
	<h2>
		<%= experiment.title %>
	</h2>
	
	<p align="justify">
		<%= experiment.summary.html_safe %>
	</p>
	
	<p>
		<%= link_to t(:see), experiment_url(:action => :show, :id => experiment.id), :class => :btn %>
	</p>
<% end %>
