<%= four_cols_container :collection => @experiments do |experiment| %>
	<h2 align="center">
		<%= experiment.title %>
	</h2>
	
	<p>
		<%= experiment.summary.html_safe %>
	</p>
	
	<p align="center">
		<%= link_to t(:test), experiment_url(experiment), :class => :btn %>
	</p>
<% end %>
