<%= four_cols_container :collection => @experiments do |experiment| %>
	<h2 class="text-center">
		<%= experiment.title %>
	</h2>
	
	<p>
		<%= experiment.summary.html_safe %>
	</p>
	
	<p class="text-center">
		<%= link_to t(:test), experiment.url, :class => :btn %>
	</p>
<% end %>
