<%= four_cols_container :collection => @experiences do |experience| %>
	<h2 class="text-center">
		<%= experience.title_with_serie %>
	</h2>
	
	<p>
		<%= experience.summary.html_safe %>
	</p>
	
	<p class="text-center">
		<%= link_to t(:test), experience, :class => :btn %>
	</p>
<% end %>
