<%= one_col_container do %>
	<table>
		<tr>
			<% Blog::Experiment.column_names.each do |column| %>
				<th>
					<%= column %>
				</th>
			<% end %>
		</tr>
		
		<% Blog::Experiment.find_each do |record| %>
			<tr>
				<% record.attributes.each do |_, attribute| %>
					<td>
						<%= attribute %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
<% end %>
