<%= one_col_container :collection => @ressources.to_a do |(pool, ressources)| %>
	<h2 align="center">
		<%=t :"#{ @application }.ressource.pool.#{ pool }" %>
	</h2>
	
	<p>
		<% ressources.each do |ressource| %><%= 
			link_to ressource.title, ressource.link, :target => :_blank, :class => :btn 
		%><% end %>
	</p>
<% end %>
