<%= container_3_tag @ressources do |ressource| %>
	<h3 class="text-center">
		<%= ressource.title %>
	</h3>
	
	<p>
		<%= ressource.summary %>
	</p>
	
	<p class="text-center">
		<%= link_to t(:link), ressource.link, target: :_blank, class: :btn %>
	</p>
<% end %>
