<%= container_3_tag @ressources do |pool, ressources| %>
	<h3 class="text-center">
    <%= t "blog.ressource.pools.#{ pool }.title" %>
	</h3>
  
  <ul>
    <% ressources.each do |ressource| %>
      <li>
        <%= btn_to ressource.title, ressource %><!--
        --><%= ressource.link_to %>
      </li>
    <% end %>
  </ul>
<% end %>
