<%= four_cols_container :collection => @articles do |article| %>
	<h2 class="text-center">
		<%= article.title %>
	</h2>
	
	<p>
		<%= article.summary.html_safe %>
	</p>
	
	<p class="text-center">
		<%= link_to t(:discover), article.url, :class => :btn %>
	</p>
<% end %>
