<%= container_tag do %>
	<%= row_tag do %>
		<%= col_3_tag :element => :sidebar do %>
			1
		<% end %>

		<%= col_9_tag :element => :article do %>
			
      <i>Avec rails 3, les strings sont par défaut "unsafe". C'est très bien pour éviter une injection XSS. Mais pour les clés I18n, qui proviennent d'un environnement contrôlé, il n'existerait pas une petite technique à la pisse des bois pour éviter de toujours répéter <i>.html_safe</i> ?</i>
      
      <h2>I18n + html_safe?</h2>
      
      		
		<% end %>
	<% end %>
<% end %>


