<%= container_3_tag @sections do |section| %>
	<h2 class="text-center">
		<%= t "stol.#{ section }.name" %>
	</h2>

	<p>
		<%= t "stol.#{ section }.summary" %>
	</p>

	<p class="text-center">
		<%= link_to t(:go_to), "stol/#{ section }".classify.constantize, class: :btn %>
	</p>
<% end %>
