<%= row_tag do %>
	<%= col_10_tag do %>
		<p>
			Cast all the things !
		</p>
	<% end %>
	
	<%= col_1_tag offset: 1 do %>
		<p>
			<%= link_to blog_screencasts_url do %>
				<i class="icon-home"></i>
			<% end %>
		</p>
	<% end %>
<% end %>
