<p>
	<% if current_user %>
		<%= current_user %> <%= link_to "Sign out", sign_out_url, :remote=>true %>
	<% else %>
		<%= link_to "Sign in", sign_in_url, :remote=>true %> or <%= link_to "Sign up", sign_up_url, :remote=>true %>
	<% end %>
</p>