<!DOCTYPE html>
<html>
	<head>
		<title>Space</title>
		<%= stylesheet_link_tag "application", :media => "all" %>	
		<%= javascript_include_tag "application" %>
	
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<!-- mettre le bandeau "SPACE" -->
		</header>
	
		<%= yield %>	
	</body>
</html>




